/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/*
    LICENCE FOR NAVIGATION MENU

    Copyright 2019 by Code Boxx

    Permission is hereby granted, free of charge, to any person obtaining a copy 
    of this software and associated documentation files (the "Software"), to deal 
    in the Software without restriction, including without limitation the rights 
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
    copies of the Software, and to permit persons to whom the Software is 
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all 
    copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
    SOFTWARE.
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  /* For browsers that do not support gradients */
  background-color: red; 
  
  /* Gradient */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#CC1911), to(#01863A));
  background-image: -o-linear-gradient(#CC1911, #01863A);
  background-image: linear-gradient(#CC1911, #01863A);     /* red & green */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 1.25em 1em;                                     /* top & bottom, right & left */
}

header {
  /* Gradient */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0E4727), to(#009241));
  background-image: -o-linear-gradient(#0E4727, #009241);
  background-image: linear-gradient(#0E4727, #009241);     /* dark-green & green */
  background-repeat: no-repeat;
  border: 1px solid #FFFFFF;                               /* white */
  border-radius: 0.75em;
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 1em rgba(0, 0, 0, 0.9);          /* black */
}

.logo {
  border-radius: 0.75em;
}

nav {
  background-image: -webkit-gradient(linear, left top, right top, from(#4A0A0B), to(#CC1911));
  background-image: -o-linear-gradient(left, #4A0A0B, #CC1911);
  background-image: linear-gradient(to right, #4A0A0B, #CC1911);  /* dark-red & red */
  border-width: 0 1px 1px 1px;                                    /* top, right, bottom, left */
  border-style: solid;
  border-color: #FFFFFF;                                          /* white */
  border-radius: 0 0 0.75em 0.75em;                               /* top-left, top-right, bottom-right, bottom-left */
  padding: 0 1em;                                                 /* top & bottom, right & left */
  margin: 0 1em;                                                  /* top & bottom, right & left */
  -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.9);               /* black */
}

/* Hide menu icon */
#page-nav label, #menu {
  display: none;
}
/* Menu items */
#page-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
}
#page-nav ul li {
  display: inline-block;
  padding: 0.3em 1em;              /* top & bottom, right & left */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#page-nav ul li:hover {
  background-color: #E0463E;       /* bright red */
}
#page-nav ul li a {
  color: #FFFFFF;                  /* white */
  text-decoration: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  font-size: 1em;
  color: #FFFFFF;                  /* white */
}

footer {
  background-image: -webkit-gradient(linear, left top, right top, from(#4A0A0B), to(#CC1911));
  background-image: -o-linear-gradient(left, #4A0A0B, #CC1911);
  background-image: linear-gradient(to right, #4A0A0B, #CC1911);  /* dark-red & red */
  border-width: 0 1px 1px 1px;                                    /* top, right, bottom, left */
  border-style: solid;
  border-color: #FFFFFF;                                          /* white */
  border-radius: 0 0 0.75em 0.75em;                               /* top-left, top-right, bottom-right, bottom-left */
  overflow: hidden;
  padding: 0 1.5em;                                               /* top & bottom, right & left */
  margin: 0 1em;                                                  /* top & bottom, right & left */
  -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.9);               /* black */
  z-index: -1;
}
footer ul {
  list-style-type: none;
  float: right;
  margin: 0;
  padding: 0;
}
footer ul li {
  display: inline-block;
  color: #FFFFFF;             /* white */
  font-size: 0.9em;
  padding: 0.3em 1em;         /* top & bottom, right & left */
}

video {
  width: 70% !important;
  height: auto !important; 
  background-color: #000000;  /* black */
}

article {
  margin-right: 0.5em;
  padding: 0 1.5em 0 1.5em;   /* top, right, bottom, left */
}

aside {
  margin-left: 0.5em;
  padding-right: 1.5em;
}

aside p {
  margin: 0;
  padding: 0;
  font-size: 0.7em;
}

address {
  font-style: normal;
}

table {
  border-collapse: collapse;
}

th, td {
  text-align: left;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
  grid-template-columns: 80% 20%;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
      grid-template-areas: 
    "wave_top wave_top"
    "article aside"
    "gallery gallery"
    "wave_bottom wave_bottom";
  background-color: #019241;                       /* green */
  border: 1px solid #FFFFFF;                       /* white */
  color: #FFFFFF;                                  /* white */
  border-radius: 0.75em;
  margin: 1em 0 0 0;                               /* top, right, bottom, left */
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 1em rgba(0, 0, 0, 0.9);  /* black */
}

.wave {
  display: block;
}

.wave_top {
  grid-column: wave_top;
  border-radius: 0.75em 0.75em 0 0;                /* top-left, top-right, bottom-right, bottom-left */
}

.wave_bottom {
  grid-column: wave_bottom;
  border-radius: 0 0 0.75em 0.75em;                /* top-left, top-right, bottom-right, bottom-left */
}

.gallery {
  grid-column: gallery;
}

.gallery img {
  margin: 1.5em 1.5em 1.5em 1.5em;                   /* top, right, bottom, left */
  border: 0.75em solid #FFFFFF;                      /* white */
  border-radius: 0.75em;
  -webkit-box-shadow: 0 0 0.7em rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 0.7em rgba(0, 0, 0, 0.6);  /* black */
}

.gallery h4 {
  margin-left: 1.5em;
}

aside img {
  border: 0.75em solid #FFFFFF;                      /* white */
  border-radius: 0.75em;
  -webkit-box-shadow: 0 0 0.7em rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 0.7em rgba(0, 0, 0, 0.6);  /* black */
}

aside p {
  margin-top: 1em;
}

.side_content {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: aside;
  text-align: right;
  margin-top: 1.5em;
}

.side_content_services {
  margin-left: 2em;
  float: right;
  text-align: left;
  font-size: 0.9em;
  background-image: -webkit-gradient(linear, left top, right top, from(#4A0A0B), to(#CC1911));
  background-image: -o-linear-gradient(left, #4A0A0B, #CC1911);
  background-image: linear-gradient(to right, #4A0A0B, #CC1911);  /* dark-red & red */
  border: 1px solid #FFFFFF;                                      /* white */
  color: #FFFFFF;                                                 /* white */
  border-radius: 0.75em;
  margin: 1.5em 0 0 0;                                            /* top, right, bottom, left */
  -webkit-box-shadow: 0 0 0.7em rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 0.7em rgba(0, 0, 0, 0.6);               /* black */
}

.side_content_services h5 {
  margin: 1em 0 0 1.5em;                                          /* top, right, bottom, left */
}

.side_content_services ul {
  margin: 0.5em 1em 0.5em 0;                                      /* top, right, bottom, left */
}

.credits {
  text-align: right;
  color: #FFFFFF;                     /* white */
  font-size: 0.8em;
  padding: 0.2em 4.3em 1em 4.3em;     /* top, right, bottom, left */
}
.credits a {
  font-size: 1em;
}

/* ON SMALL SCREEN */
@media screen and (max-width: 768px) {
  /* Show menu icon */
  #page-nav label {
    display: inline-block;
    color: #FFFFFF;                   /* white */
    font-style: normal;
    padding: 0.2em 100% 0.2em 0.2em;  /* top, right, bottom, left */
  }
  /* Make menu items vertical */
  #page-nav ul li { 
    display: block;
  }
  /* Toggle show/hide menu on click */
  #page-nav ul {
    display: none;
  }
  #page-nav input:checked ~ ul {
    display: block;
  }

  aside {
    display: none;
  }

  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
        grid-template-areas: 
      "wave_top"
      "article"
      "gallery"
      "wave_bottom";
  }
}


/* 
    LICENCE FOR CSS GALLERY

    The work below, CSSBox, is released under the Creative Commons
    Attribution-ShareAlike 4.0 license and is available on
    https://github.com/TheLastProject/CSSBox. You are not required to add
    additional credit to your website, just leave the above text in this file.
*/
div.cssbox {
  display: inline-block;
}

span.cssbox_full {
  z-index: 999;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

span.cssbox_full img {
  position: fixed;
  background-color: white;
  margin: 0;
  padding: 0;
  max-height: 90%;
  max-width: 90%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
  border: none;                              /* Remove border */
  border-radius: 0;                          /* Remove border radius */
}

a.cssbox_close,
a.cssbox_prev,
a.cssbox_next {
  z-index: 999;
  position: fixed;
  text-decoration: none;
  visibility: hidden;
  color: white;
  font-size: 36px;
}

a.cssbox_close {
  top: 1%;
  right: 1%
}

a.cssbox_close::after {
  content: '\00d7';
}

a.cssbox_prev,
a.cssbox_next {
  top: 50%;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

a.cssbox_prev {
  left: 5%;
}

a.cssbox_next {
  right: 5%;
}

a:target ~ a.cssbox_close,
a:target ~ a.cssbox_prev,
a:target ~ a.cssbox_next {
  visibility: visible;
}

.cssbox_thumb {          /* Fixed size thumbnails that cover the frame without destortion */
  height: 140px;
  width: 140px;
  -o-object-fit: cover;
     object-fit: cover;
}

a:target > img.cssbox_thumb + span.cssbox_full {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
}

span.cssbox_full {
  cursor: initial;
}
/* This is the end of CSSBox */